<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-指令-v-if与v-show</title>
    <!-- 第一步：引入Vue.js文件 -->
    <script src = "js-note/js/vue.js"></script>
</head>
<body>
   <!-- 第三步：编写视图 -->
  <div id = "app">
    年龄<input type="text" v-model="age">经判定，为：
   <span v-if="age <= 35">年轻人(35及以下)</span>
   <span v-else-if="age > 35 && age < 60">中年人(35-60)</span>
   <span v-else>老年人(60及以上)</span>

   <br><br>

   年龄<input type="text" v-model="age">经判定，为：
   <span v-show="age<=35">年轻人(35及以下)</span>
   <span v-show="age>35 && age < 60">中年人(35-60)</span>
   <span v-show="age>=60">老年人(60及以上)</span>
  </div>
</body>
<script>
   // 第二步：创建Vue核心对象，定义数据模型
    // 定义vue对象
    new Vue({
        el:"#app",  //Vue接管区域
        data:{
          age:20
        }
    })
</script>    
</html>